.ratio {
  font-size: 2rem;
  font-weight: bold;
  color: red;

  &.good {
    color: green;
  }
}

h2 {
  //end by ... if text is too long
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  //maj for the first letter
  text-transform: capitalize;
}
