<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="users">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>User ratios</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="rounds">
        <ion-icon src="assets/beerempty.svg"></ion-icon>
        <ion-label>Rounds</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
