<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Your username:</ion-label>
  <ion-input type="text" placeholder="lowercase username" [(ngModel)]="username"
    [ngModelOptions]="{ updateOn: 'blur' }"> </ion-input>
  <ion-button *ngIf="!(userExists | async) && username !== ''" (click)="createUser()">
    Create user online
  </ion-button>
</ion-content>
