<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form">
    <ion-label>Your username</ion-label>
    <ion-input
      type="text"
      placeholder="lowercase username"
      [(ngModel)]="username"
    >
    </ion-input>
    <ion-button
      *ngIf="!(userExists | async) && username !== ''"
      (click)="createUser()"
    >
      Create user online
    </ion-button>
  </div>
</ion-content>
