.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 25vh;
  gap: 1rem;

  ion-input {
    max-width: 150px;
    height: 2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    --padding-start: 10px;
  }

  ion-button {
    border-radius: 15px;
  }
}
