<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rounds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rounds</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item *ngFor="let round of rounds">
      <app-round-card [round]="round"></app-round-card>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRound()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
